{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KreativDev">

    <!-- Title -->
    <title>Treats - Fast Food & Restaurant HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/fav.png' %}" type="image/x-icon">

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/vendors/bootstrap.min.css' %}">
    <!-- Fontawesome Icon CSS -->
    <link rel="stylesheet" href="{%static 'assets/fonts/fontawesome/css/all.min.css' %}">
    <!-- Icomoon Icon CSS -->
    <link rel="stylesheet" href="{%static 'assets/fonts/icomoon/style.css' %}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/vendors/magnific-popup.min.css' %}">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/vendors/nice-select.css' %}">
    <!-- Swiper Slider -->
    <link rel="stylesheet" href="{%static 'assets/css/vendors/swiper-bundle.min.css' %}">
    <!-- AOS Animation CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/vendors/aos.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/vendors/animate.min.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/responsive.css' %}">
</head>
{% endblock %}