{% load static %}
{% include 'include/home.html' %}
<body class="theme-color-1">
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{{ settings.loader.url }}" alt="Preloader'">
        </div>
    </div>
    {% include 'include/header.html' %}
    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">Продукт</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Details</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Shop-details-area start -->
    <div class="shop-details-area pt-100 pb-60">
        <div class="container">
            <div class="row gx-xl-5 align-items-center">
                <div class="col-lg-6">
                    <div class="shop-details-gallery mb-40" data-aos="fade-up">
                        <div class="swiper shop-details-slider radius-md">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <figure class="lazy-container ratio ratio-1-1">
                                        <a href="{% static 'assets/images/shop/shop-1.jpg' %}" class="lightbox-single">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{ product.image.url }}" alt="product image">
                                        </a>
                                    </figure>
                                </div>
                                <div class="swiper-slide">
                                    <figure class="lazy-container ratio ratio-1-1">
                                        <a href="{% static 'assets/images/shop/shop-2.jpg' %}" class="lightbox-single">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/shop/shop-2.jpg' %}" alt="product image">
                                        </a>
                                    </figure>
                                </div>
                                
                            <!-- Slider navigation buttons -->
                            <div class="slider-navigation">
                                <button type="button" title="Slide prev" class="slider-btn slider-btn-prev radius-0">
                                    <i class="fal fa-angle-left"></i>
                                </button>
                                <button type="button" title="Slide next" class="slider-btn slider-btn-next radius-0">
                                    <i class="fal fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="shop-thumb">
                            <div class="swiper shop-thumbnails">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="thumbnail-img lazy-container ratio ratio-1-1 radius-md">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{{ product.image.url }}" alt="product image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-single-details mb-40" data-aos="fade-up">
                        <h3 class="product-title mb-15">{{ product.title }}</h3>
                        <div class="product-price mb-30">
                            <h4 class="new-price color-primary">{{ product.new_price }} сом</h4>
                            <span class="prev-price h5 color-medium"><s>{{ product.old_price }} сом</s></span>
                        </div>
                        <div class="product-desc">
                            <p>
                                {{ product.short_desc }}
                            </p>
                        </div>
                        <div class="btn-groups mt-30">
                            <div class="quantity-input">
                                <div class="qty-btn quantity-down">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <input type="text" value="1" name="quantity" spellcheck="false" data-ms-editor="true">
                                <div class="qty-btn quantity-up">
                                    <i class="fal fa-plus"></i>
                                </div>
                            </div>
                            <a href="{% url 'cart' %}" class="btn btn-md btn-primary" title="Add to Cart" target="_self">Добавить в корзину</a>
                            <a href="{% url 'checkout' %}" class="btn btn-md btn-outline" title="Order Now" target="_self">Заказать</a>
                        </div>
                        <ul class="list-unstyled info-list mt-30 mb-0">
                            <li>
                                <span class="color-dark">SKU:</span>
                                <span>{{ product.sku }}</span>
                            </li>
                            <li>
                                <span class="color-dark">Категория:</span>
                                <a href="{% url 'category' name=product.category %}">{{ product.category }}</a>
                            </li>
                            <li>
                                <span class="color-dark">Tэг:</span>
                                {{ product.tags }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="description mb-40" data-aos="fade-up">
                <div class="tabs-navigation text-center border-bottom pb-20 mb-30">
                    <ul class="nav nav-tabs" data-hover="fancyHover">
                        <li class="nav-item active">
                            <button class="nav-link hover-effect active btn-lg radius-sm" data-bs-toggle="tab" data-bs-target="#tab1" type="button">Описание</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link hover-effect btn-lg radius-sm" data-bs-toggle="tab" data-bs-target="#tab2" type="button">Отзывы</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab1">
                        <!-- Product description -->
                        <div class="product-desc">
                            {{ product.description }}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        {% for comment in comments %}
                        <div class="author">
                            <div class="author-info">
                                <h6 class="mb-2 lh-1">От {{ comment.author }}</h6>
                                <p class="text">
                                    {{ comment.content }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="shop-review-form mt-30">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group mb-20">
                                    <label>Имя</label>
                                    <input class="form-control" placeholder="Имя" name="name">
                                </div>
                                <div class="form-group mb-20">
                                    <label>Комментарий</label>
                                    <textarea class="form-control" placeholder="Комментарий" name="comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary" type="submit" aria-label="Submit">Отправить</button>
                                </div>
                            </form>
                            {% if show_message %}
                            <h3> {{ message }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop-details-area end -->

    <!-- Related Product-area start -->
    <div class="shop-area pb-75" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title title-inline mb-30">
                        <h3 class="title mb-20">Другие продукты</h3>
                        <!-- Slider navigation buttons -->
                    </div>
                </div>
                <div class="col-12">
                    <div class="swiper shop-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-1.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Vanilla Cold Coffee">Vanilla Cold Coffee</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$5.00</span>
                                            <span class="prev-price font-sm">$6.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-2.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Cone Ice Cream">Cone Ice Cream</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$4.00</span>
                                            <span class="prev-price font-sm">$3.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-3.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Fruits Milk">Chocolate Milk</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$6.00</span>
                                            <span class="prev-price font-sm">$5.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-4.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Pineapple Juice">Pineapple Juice</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$7.00</span>
                                            <span class="prev-price font-sm">$8.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-5.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Chocolate Coffee">Chocolate Coffee</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$4.00</span>
                                            <span class="prev-price font-sm">$5.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-6.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Vanilla Ice Cream">Vanilla Ice Cream</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$3.50</span>
                                            <span class="prev-price font-sm">$4.50</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-7.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Fruits Milk Shake">Fruits Milk Shake</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$8.00</span>
                                            <span class="prev-price font-sm">$9.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide item">
                                <div class="product radius-md text-center p-30 mb-25">
                                    <figure class="product-img mb-20 mx-auto">
                                        <a href="{% url 'shop-details' id=1 %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                            <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/product/juice/pro-8.png' %}" alt="Image">
                                        </a>
                                        <div class="hover-show">
                                            <div class="btn-groups">
                                                <a href="{% url 'shop-details' id=1 %}" class="btn-icon" title="Quick View" target="_self">
                                                    <i class="fal fa-eye"></i>
                                                </a>
                                                <a href="{% url 'cart' %}" class="btn-icon" title="Add to Cart" target="_self">
                                                    <i class="fal fa-shopping-cart"></i>
                                                </a>
                                                <a href="{% url 'wishlist' %}" class="btn-icon" title="Add to Wishlist" target="_self">
                                                    <i class="fal fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                    <div class="product-details">
                                        <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' id=1 %}" target="_self" title="Orange Juice">Orange Juice</a></h4>
                                        <div class="product-price">
                                            <span class="h6 font-lg new-price color-primary">$5.00</span>
                                            <span class="prev-price font-sm">$6.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Product-area end -->

    <!-- Gallery-area start -->
    <div class="gallery-area" data-aos="fade-up">
        <div class="container">
            <div class="swiper gallery-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/gallery/gallery-1.png' %}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/instagram.png' %}" alt="Image"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/gallery/gallery-2.png' %}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/instagram.png' %}" alt="Image"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/gallery/gallery-3.png' %}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/instagram.png' %}" alt="Image"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/gallery/gallery-4.png' %}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/instagram.png' %}" alt="Image"></div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://www.instagram.com/" class="slider-item" title="Image" target="_blank">
                            <div class="lazy-container ratio ratio-2-3">
                                <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/gallery/gallery-5.png' %}" alt="Image">
                            </div>
                            <div class="icon rounded-pill"><img class="lazyload blur-up" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/instagram.png' %}" alt="Image"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery-area end -->
{% include 'include/footer.html' %}